.gamefooter {
  width: 100%;
  height: 20rem;
  background-color: var(--color-primary);
  border-radius: 6rem 6rem 0 0;
  &--red {
    background-color: var(--color-red);
  }

  &--yellow {
    background-color: var(--color-yellow);
  }
}
