.mainmenu {
  @include homepageMenu;

  &__option {
    &__icon {
      width: 8.2rem;
      height: 4.6rem;
    }

    &--pvp {
      justify-content: space-between;
    }

    &--rules {
      justify-content: flex-start;
    }
  }
}
