.btn {
  background-color: var(--color-white);

  width: 40rem;
  height: 7rem;
  padding: 1.5rem;
  padding-left: 2rem;

  border: 3px solid var(--color-black);
  border-radius: 20px;
  box-shadow: 0px 10px 0px 0px #000;
  transition: all 0.1s ease-in-out;

  font-family: inherit;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.1rem;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: 0px 10px 0px 0px var(--color-accent);
    border: 3px solid var(--color-accent);
  }

  &--red,
  &--yellow,
  &--small {
    color: var(--color-white);
  }

  &--red {
    background-color: var(--color-red);
  }

  &--yellow {
    background-color: var(--color-yellow);
  }

  &--small {
    background-color: var(--color-accent);

    width: 8.5rem;
    height: 4rem;
    padding: 1rem 2rem;

    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.1rem;

    border: none;
    box-shadow: none;

    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: var(--color-red);
      border: none;
      box-shadow: none;
    }
  }

  &--check {
    height: 6.4rem;
    width: 6.4rem;
    border-radius: 50%;

    background-image: url('../assets/images/icon-check.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;

    box-shadow: 0px 5px 0px 0px #000;

    &:hover {
      box-shadow: 0px 5px 0px 0px var(--color-accent);
    }
  }
}
