@mixin menu {
  background: var(--color-accent);
  padding: 6rem 4rem;

  &__title {
    color: var(--color-white);
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__options {
    margin-top: 8rem;
  }

  &__option {
    justify-content: center;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}
