.game-page {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding: 5rem;
  background-color: var(--color-accent);

  display: grid;
  grid-template-rows: min-content max-content;
  grid-template-columns: 1fr min-content 1fr;
  gap: 5rem 6rem;

  .gamenav {
    grid-column: 2;
    grid-row: 1;
    z-index: 1;
  }

  .gameboard {
    grid-column: 2 / 3;
    grid-row: 2;
    margin-bottom: 10rem;
  }

  .scorecard {
    align-self: center;
    transform: translateY(-50%);

    &--self,
    &--player1 {
      grid-column: 1;
      grid-row: 2;
      justify-self: flex-end;
    }

    &--cpu,
    &--player2 {
      grid-column: 3;
      grid-row: 2;
      justify-self: flex-start;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
