.scorecard {
  width: 14.4rem;
  height: 16.3rem;
  padding: 4.5rem 2.5rem 1.5rem;
  border-radius: 2rem;
  position: relative;
  background-color: var(--color-white);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    position: absolute;
    width: 5.4rem;
    height: 5.9rem;
    top: -40%;
    left: 50%;
    transform: translate(-50%, 60%);
  }

  &__player {
    text-transform: uppercase;
  }

  &__score {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: normal;
  }
}
