.gameboard {
  position: relative;
  width: 63.2rem;
  height: 59.4rem;

  &__front,
  &__back,
  &__grid,
  &__controls {
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__back {
    background-image: url('/assets/images/board-layer-black-large.svg');
  }
  &__front {
    background-image: url('/assets/images/board-layer-white-large.svg');
  }

  &__grid,
  &__controls {
    display: flex;
    padding: 1.7rem;
    gap: 1.8rem;

    &__col {
      display: flex;
      flex-direction: column;
      gap: 1.8rem;
      width: 7rem;
      height: 100%;
    }

    &__cell {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 7rem;
      height: 7rem;
      border-radius: 50%;

      &--red,
      &--yellow {
        border: 3px solid var(--color-black);
        box-shadow: inset 0 0.5rem 0 0 rgba(#000, 0.5), 0 5px 0 0 #000;
      }

      &--red {
        background-color: var(--color-red);
      }

      &--yellow {
        background-color: var(--color-yellow);
      }

      .winmark {
        width: 55%;
        height: 55%;
        border: 7px solid var(--color-white);
        border-radius: 50%;

        opacity: 0;
      }
    }
  }

  &__marker {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    gap: 1.8rem;
    padding: 1.7rem;
    transform: translateY(-100%);

    &__col {
      position: relative;
      height: 2.6rem;
      width: 7rem;

      & > * {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .marker {
      opacity: 0;
    }

    @media only screen and (max-width: 67.5em) {
      display: none;
    }
  }

  &__status {
    position: relative;
    z-index: 2;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -35%);
  }

  @media only screen and (max-width: 43.75em) {
    width: 33.5rem;
    height: 32rem;

    &__back {
      background-image: url('/assets/images/board-layer-black-small.svg');
    }
    &__front {
      background-image: url('/assets/images/board-layer-white-small.svg');
    }

    &__grid,
    &__controls {
      padding: 1.06rem;
      gap: 1.27rem;

      &__col {
        width: 3.39rem;
        gap: 1.27rem;
      }

      &__cell {
        width: 3.39rem;
        height: 3.39rem;

        .winmark {
          width: 60%;
          height: 60%;
          border: 5px solid var(--color-white);
        }
      }
    }
  }
}
