.gameboard {
  position: relative;
  width: 63.2rem;
  height: 58.4rem;

  &__front,
  &__back,
  &__grid,
  &__controls {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__back {
    z-index: 0;
  }
  &__grid {
    z-index: 1;
  }
  &__front {
    z-index: 2;
  }
  &__controls {
    z-index: 3;
  }

  &__grid,
  &__controls {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2rem;
    gap: 2.4rem;

    &__col {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      width: 6.4rem;
      height: 100%;
    }

    &__cell {
      width: 6.4rem;
      height: 6.4rem;
      border-radius: 50%;

      &--red,
      &--yellow {
        box-shadow: inset 0 0.5rem 0 0 rgba(#000, 0.5);
      }

      &--red {
        background-color: var(--color-red);
      }

      &--yellow {
        background-color: var(--color-yellow);
      }
    }
  }
}
