.scorecard {
  width: 14.4rem;
  height: 16.3rem;
  padding: 4.5rem 2.5rem 1.5rem;
  border-radius: 2rem;
  position: relative;
  background-color: var(--color-white);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    position: absolute;
    width: 5.4rem;
    height: 5.9rem;
    top: -40%;
    left: 50%;
    transform: translate(-50%, 60%);
  }

  &__player {
    text-transform: uppercase;
  }

  &__score {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: normal;
  }

  @media only screen and (max-width: 67.5em) {
    width: 27.5rem;
    height: 10rem;
    padding: 1.4rem 2rem 1.5rem;

    &__container {
      flex-direction: row;
      gap: 2rem;
    }

    &--player1,
    &--self {
      .scorecard {
        &__container {
          justify-content: flex-end;
        }

        &__icon {
          top: 50%;
          left: 0%;
          transform: translate(-50%, -45%);
        }
      }
    }
    &--player2,
    &--cpu {
      .scorecard {
        &__container {
          justify-content: flex-start;
        }

        &__score {
          order: -1;
        }

        &__icon {
          top: 50%;
          left: 100%;
          transform: translate(-50%, -45%);
        }
      }
    }

    &__score {
      width: 10.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media only screen and (max-width: 43.75em) {
    width: 14.5rem;
    height: 8.5rem;
    padding: 1rem 3.5rem;

    &__container {
      width: 7rem;
      flex-direction: column;
      gap: 0;
    }

    &__player {
      font-size: 1.6rem;
    }

    &__score {
      font-size: 3.2rem;
      order: 0 !important;
    }
  }
}
