.rules {
  padding: 3rem 3.4rem 2.4rem;
  width: 48rem;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 3rem;
  }

  &__section {
    margin-bottom: 3.2rem;
  }

  &__heading {
    color: var(--color-accent);
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  &__list {
    list-style: decimal;
    padding-left: 1.6rem;
  }

  &__rule {
    padding-left: 0.5rem;

    &::marker {
      font-weight: 700;
    }

    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  &__close {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
